<!DOCTYPE html>
<html lang="en">
<%- include('partials/_head.ejs') %>
  <body style="background-color: #0006b1;">
<%- include('partials/_header.ejs') %>
    <main role="main" class="container mt-4" style="text-align: center;">
      <div class="text-center">
        <h1>VoxGem1</h1>
        <div id="voice-activation-ui" class="swirling-circle" style="display: inline-block; margin: 0 auto;"></div>
      </div>
    </main>
  </body>
<%- include('partials/_footer.ejs') %>
  <script src="/js/main.js"></script>
</html>